*{
  box-sizing: border-box;
}
body {
  background: #EAEDF3;
}
#sideMenu {
  background-color: #302d43;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}
#sideMenu nav{
  padding-top: 240px;
}
#sideMenu nav a {
 	display: block;
 	color: #FAFAFA;
 	text-decoration: none;
 	padding: 15px 30px;
  font-weight: 300;
  transition: all .5s ease-in-out;
}
#sideMenu nav a:hover{
  background: #5AB9EA;
  border-left: 5px solid #8860D0;
  padding: 15px 30px 15px 25px;
}
#sideMenu nav a .fas{
  color: #FAFAFA;
  font-size: 1.4rem;
  margin-right: .8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}
#sideMenu nav .active {
  background: #282639;
  border-left: 5px solid #8860D0;
  padding: 15px 30px 15px 25px;
}
header{
  margin-left: 280px;
  padding: 10px;
  background: #FAFAFA;
  width: 60%;
}
.search-area{
  display: inline-block;
  width: 60%;
}
.search-area .fas{
  color: #8860D0;
  padding: 10px;
}
.search-area input[type="text"]{
  background: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 100;
  width: 50%;
  transition: all 0.5 ease-in-out;
}
.search-area input[type="text"] :hover{
  background: #EAEDF3;
}
.user-area {
  display: inline-block;
  float: right;
  padding: 10px;
}
.user-area a {
  color: #8860D0;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  vertical-align: top;
  height: 30px;
}
.add{
  font-size: 16px;
  font-weight: 500;
  padding-top: 7px;
}
.notification {
  position: relative;
  font-size: 20px;
  padding-top: 5px;
}
.circle {
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
  color: white;
  text-align: center;
  position: absolute;
  top: 3px;
  left: 7px;
}
.user-img {
  background-image: url("../img/user.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.fa-caret-down{
  position: relative;
  top: -8px;
}
