*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/pic3.png");
    background-position: center;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
}
.icon {
     width:auto;
     padding:10px;
 }
 img {
   margin-top: 30px;
     max-width:100%;
     height:auto;
 }
.input-group{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 8px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #29648A,#2E9CCA);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#input{
    left: 50px;
}
p{
  color: #777;
  padding: 300px 70px;
  font-size: 14px;
}
